#circle circle {
    fill: none;
    pointer-events: all;
}

.group path {
    fill-opacity: .5;
}

path.chord {
    stroke: #000;
    stroke-width: .25;
}

path.chordHover{
    stroke: #000;
    stroke-width: 1.5;
}

#circle:hover path.fade {
    display: none;
}


#chartContainer{
    position:relative;
    margin-top:50px;
    width:600px;
}

#textContainer{
    position:relative;
    margin:auto;
    height: 150px;
    padding:10px;
}


#mapContainer{
    height:600px;
    margin-top:50px;
    margin-right:50px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 1000;

}

.regions{
    stroke: #000;
    stroke-width: 1;
    fill:none;
}

#mainContainer{
    background-color: lightgray;
}

@font-face {
    font-family: Ubahn;
    src: url('Ubahn.ttf');
    src:
    local('Ubahn'),
    url('Ubahn.ttf')
    format('opentype');
}
h1 {
    display: block;
    font-family: Ubahn;
    font-size: 4em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-family: Ubahn;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-family: Ubahn;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}